/* styles for front-end */
.drawMain {
  display:grid;
  align-items:center;
  justify-items: center;
  height:100vh;
}

.grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border:1px solid black;
}

.subGrid{
  border:1px solid black;
}

.color {
  width:350px;
  height:40px;
  border:0;
  margin:10px;
padding:0px;
  border-radius:5px;
  background-color:red;
}

.colorPicker {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 50%;
}

.colorPicker:focus {
  outline: none;
}

.colorPicker::-webkit-slider-runnable-track {
  width: 50%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border: 0px solid #000000;
}

.colorPicker::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.colorPicker:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}

