<div class="drawMain">
<h1>DRAW</h1>
  <div class="color"></div>
  <input class="colorPicker" type="range" min="0" max="360" />
  <div class="grid"></div>
  <button class="reset" onClick="resetGrid()">Reset Grid</button>
  <button id="test">TEST BUTTON BABY</button> 
  {{#each names}}
  <p>{{this.title}}</p> 
  <p>{{this.id}}</p>
  {{/each}}
</div>
