/* Cross-browser styling for colour-picker - want to use SASS variable sbefore including */
/* line 2, public/sass/trackStyles.scss */
input[type=range]::-moz-range-track {
  width: 50%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border: 0px solid #000000; }

/* line 11, public/sass/trackStyles.scss */
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer; }

/* line 20, public/sass/trackStyles.scss */
input[type=range]::-ms-track {
  width: 50%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent; }

/* line 29, public/sass/trackStyles.scss */
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000; }

/* line 35, public/sass/trackStyles.scss */
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000; }

/* line 41, public/sass/trackStyles.scss */
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer; }

/* line 51, public/sass/trackStyles.scss */
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3; }

/* line 54, public/sass/trackStyles.scss */
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3; }

/* styles for front-end */
/* line 2, public/sass/stylesheet.scss */
.drawMain {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh; }

/* line 9, public/sass/stylesheet.scss */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px solid black; }

/* line 16, public/sass/stylesheet.scss */
.subGrid {
  border: 1px solid black; }

/* line 20, public/sass/stylesheet.scss */
.color {
  width: 350px;
  height: 40px;
  border: 0;
  margin: 10px;
  padding: 0px;
  border-radius: 5px;
  background-color: red; }

/* line 30, public/sass/stylesheet.scss */
.colorPicker {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 50%; }

/* line 37, public/sass/stylesheet.scss */
.colorPicker:focus {
  outline: none; }

/* line 41, public/sass/stylesheet.scss */
.colorPicker::-webkit-slider-runnable-track {
  width: 50%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border: 0px solid #000000; }

/* line 51, public/sass/stylesheet.scss */
.colorPicker::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px; }

/* line 63, public/sass/stylesheet.scss */
.colorPicker:focus::-webkit-slider-runnable-track {
  background: #2497E3; }
